.navbar {
  background: #fff;
  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  margin: 0;
}
.navbar .navbar-brand {
  height: auto;
  padding: 21px 0 21px 50px;
}
.navbar .navbar-nav {
  padding-top: 15px;
}
.navbar .navbar-nav li {
  margin-top: 10px;
}
.navbar .navbar-nav li a {
  color: #6c7a87;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0 16px;
  text-align: center;
}
.navbar .navbar-nav li .active {
  color: #3c8cf3;
}
.navbar .navbar-nav li .nav-login,
.navbar .navbar-nav li .nav-register {
  padding: 0 15px;
  margin: 0 8px;
  border: 1px solid #3c8cf3;
}
.navbar .navbar-nav li .nav-login {
  color: #3c8cf3;
}
.navbar .navbar-nav li .nav-register {
  color: #fff;
  background: #3c8cf3;
  box-shadow: 0 0 15px rgba(60, 140, 243, 0.3);
}
.navbar .navbar-nav li .nav-register:hover {
  color: #fff;
  background: #3c8cf3;
  box-shadow: 0 0 15px rgba(60, 140, 243, 0.3);
}
.navbar .navbar-toggle {
  margin-top: 21px;
}
.banner {
  text-align: center;
  position: relative;
}
.banner .bannerbg {
  position: absolute;
  width: 100%;
  height: 550px;
  background-image: url(../images/index1_02.jpg);
  background-size: cover;
  background-position-x: center;
  z-index: -1;
}
.banner h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 100;
  padding-top: 100px;
}
.banner img {
  width: 100%;
}
.btn-try {
  margin: 0 auto;
  display: block;
  width: 170px;
  height: 50px;
  background: #3c8cf3;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  border: none;
}
.title {
  padding-top: 106px;
  text-align: center;
}
.title h4 {
  font-size: 24px;
  margin-bottom: 35px;
}
.title h5 {
  font-size: 14px;
  color: #748599;
}
.intelligence {
  margin: 50px 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: 30px;
}
.intelligence h5 {
  text-align: center;
  margin-bottom: 30px;
}
.intelligence ul {
  margin: 0;
}
.intelligence li {
  display: inline-block;
  width: 48%;
}
.effect h3 span {
  font-size: 20px;
}
.effect ul {
  width: 80%;
}
.effect p {
  font-size: 14px;
  color: #6c7a87;
  padding-left: 40px;
}
.index-bg {
  position: relative;
}
.index-bg .the-bg {
  position: absolute;
  width: 100%;
  height: 840px;
  top: 200px;
  left: 0;
  background: #f9fafc;
  z-index: -1;
}
.achievements {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  text-align: center;
  margin: 30px 0;
  background: #fff;
}
.achievements h4 {
  border-bottom: 1px solid #ebecf0;
  text-align: left;
  margin-bottom: 30px;
}
.achievements h5 {
  padding-top: 10px;
}
.achievements h1 {
  font-size: 84px;
  color: #3c8cf3;
  padding-bottom: 20px;
}
.achievements h1 span {
  font-size: 42px;
}
.work-station {
  margin: 20px 0 0 0;
  text-align: center;
}
.work-station h3 {
  margin: 0;
  font-size: 20px;
}
.work-station hr {
  width: 20px;
  border: 1px solid;
  margin: 20px auto;
}
.work-station p {
  color: #6c7a87;
}
.knowMore {
  display: block;
  margin: 50px;
  text-align: center;
}
.cooperate {
  background: #f9fafc;
  padding: 70px 0;
}
.cooperate .col-sm-4 {
  text-align: center;
}
.info-try {
  text-align: center;
  padding: 120px 0;
}
.info-try h3 {
  font-size: 24px;
}
.info-try p {
  margin: 30px 0 48px;
}
footer {
  text-align: center;
  background: #f9fafc;
  padding: 25px 0;
  color: #9eaabe;
}
footer span {
  margin: 0 25px;
}
.communicate {
  background: #f9fafc;
  padding-bottom: 60px;
}
.carousel .carousel-control {
  color: #999;
  background: none;
  width: 5%;
}
.carousel .carousel-control span {
  font-size: 30px;
}
.carousel .left {
  left: -5%;
}
.carousel .right {
  right: -5%;
}
.communicate .col-sm-6 {
  text-align: center;
  margin: 40px 0;
}
.communicate .col-sm-6 h4 {
  font-size: 18px;
  margin-bottom: 20px;
}
.communicate .col-sm-6 p {
  color: #7a848d;
  margin: 0;
}
.function-box .row {
  margin: 86px 0 0 0;
}
.function-box .row .col-lg-7,
.function-box .row .col-lg-3 {
  padding: 0;
}
.function-box img {
  width: 100%;
}
.function-box .col-lg-3 {
  display: flex;
  align-items: center;
}
.function-box h3 {
  font-size: 18px;
  margin: 0;
}
.function-box h3 span {
  display: inline-block;
  width: 3px;
  height: 22px;
  background: #3c8cf3;
  margin-right: 10px;
}
.function-box p {
  padding-left: 14px;
  color: #6c7a87;
}
.function-box ul {
  list-style: none;
  counter-reset: count;
  padding-top: 10px;
}
.function-box ul li {
  color: #2c3033;
}
.function-box ul li:before {
  content: "● ";
  color: #51ca2f;
}
.customer {
  position: relative;
}
.customer .customerbg {
  height: 390px;
  background-image: url(../images/kefu_02.png);
  position: absolute;
  z-index: -1;
  width: 100%;
  background-position: center;
}
.customer h2 {
  margin: 0;
  padding-top: 100px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}
.customer .row {
  padding-top: 50px;
}
.customer .row .head-white {
  text-align: center;
  color: #fff;
}
.customer .row .head-black {
  text-align: center;
}
.customer .customer-content {
  position: relative;
  padding: 40px;
  border-radius: 8px;
  margin-top: 56px;
  line-height: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}
.customer .customer-content img {
  position: absolute;
}
.customer .white {
  background: #fff;
}
.customer .white img {
  top: -13px;
  left: -43px;
}
.customer .black {
  background: #3c8cf3;
  color: #fff;
}
.customer .black img {
  top: -14px;
  right: -43px;
}
.daodao {
  position: relative;
}
.daodao h2 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 24px;
  padding-top: 100px;
}
.daodao h6 {
  text-align: center;
  color: #ccc;
  margin: 30px 0 100px 0;
}
.daodao .try-box {
  width: 60%;
  margin: 80px auto 120px auto;
  border: 1px solid #f2f2f2;
}
.daodao .try-box .btn-try {
  margin-top: -26px;
}
.daodao .try-box p {
  text-align: center;
  color: #a8a8a8;
  margin: 14px 0;
}
.pricebg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 340px;
  background: #505362;
  z-index: -1;
}
.price .row {
  background: #fff;
  padding: 12px 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  margin-bottom: 50px;
}
.price .version {
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
.price .version h1 {
  font-size: 30px;
  margin: 0;
}
.price .version h5 {
  font-size: 18px;
  margin: 20px 0 0 0;
}
.price ul li {
  background-image: url(../images/dui_03.jpg);
  background-repeat: no-repeat;
  background-position: 0 8px;
  padding-left: 20px;
  line-height: 30px;
}
.price .the-price h3 {
  font-size: 36px;
  color: #3c8cf3;
  text-align: center;
}
.price .the-price h3 label {
  font-size: 20px;
}
.price .the-price h4 {
  border: 1px solid #d2d2d2;
  color: #d2d2d2;
  font-size: 14px;
  width: 84px;
  text-align: center;
  margin: 0 auto;
  padding: 2px;
}
.price .the-more {
  padding-top: 50px;
}
.price .the-more a {
  display: block;
  margin: 0 auto;
  color: #3c8cf3;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  border: 1px solid #3c8cf3;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
}
.questionbg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 496px;
  background-image: url("../images/help_02.jpg");
  background-position: center;
  z-index: -1;
}
.question {
  padding: 20px 30px;
  width: 75%;
  margin: 50px auto 0 auto;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}
.question h3 {
  margin: 20px 0;
  font-size: 18px;
}
.question p {
  line-height: 30px;
  color: #8894a0;
  padding-left: 32px;
}
.question h5 {
  font-size: 18px;
  text-align: center;
  margin-top: 70px;
}
.question img {
  display: block;
  margin: 30px auto 70px auto;
}
.aboutbg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 596px;
  background-image: url("../images/aboutbg_02.jpg");
  background-position: center;
  z-index: -1;
}
.about-us {
  margin-top: 90px;
  margin-bottom: 12px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  background: #fff;
}
.about-us .col-xs-12 {
  border-left: 1px solid #f1f2f3;
  border-bottom: 1px solid #f1f2f3;
}
.about-us .col-xs-12 div {
  height: 440px;
  padding: 0 35px;
}
.about-us .col-xs-12 div img {
  display: block;
  margin: 60px auto;
  border: 1px solid #f1f2f3;
  border-radius: 50%;
}
.about-us .col-xs-12 div p {
  line-height: 26px;
  color: #575e66;
}
.about-us .col-xs-12:first-child {
  border-left: none;
}
.bodybg {
  background: url(../images/loginbg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.width100 {
  width: 400px;
}
.bigbox {
  width: 800px;
}
input[type="text"],
input[type="password"] {
  color: #fff;
}
input:focus {
  border: 1px solid #fff !important;
}
.bigbox div {
  display: none;
  display: inline-block;
  color: #fff;
}
.bigbox div img {
  width: 22px;
  height: 22px;
  margin: 0 5px;
}
.login-title {
  display: block;
  margin: 145px auto 90px auto;
}
.login-form {
  margin: 0 auto 50px auto;
  width: 400px;
}
.login-form h5 {
  display: none;
  margin: 0 0 20px 0;
  height: 40px;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.login-form h5 span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  line-height: 18px;
  color: #838067;
  background: #eee280;
  border-radius: 50%;
}
.login-form .login-btn {
  display: block;
  width: 100%;
  height: 66px;
  text-align: left;
  margin-bottom: 32px;
  font-size: 17px;
  text-indent: 64px;
  border: transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  background-repeat: no-repeat;
  background-position: 19px 19px;
}
.login-form ::-webkit-input-placeholder {
  color: #e6e6e6;
}
.login-form .login-btn:nth-child(2) {
  background-image: url(../images/login-icon_03.png);
}
.login-form .login-btn:nth-child(3) {
  display: none;
  background-image: url(../images/login-icon_05.png);
}
.login-form .login-btn:nth-child(4) {
  background-image: url(../images/login-icon_06.png);
}
.login-form select {
  color: #fff;
}
.login-form select option {
  color: #000;
}
.login-form .login-sub {
  display: block;
  width: 100%;
  height: 66px;
  text-align: left;
  margin-bottom: 32px;
  font-size: 17px;
  border: none;
  background: #00ce7d;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  border-radius: 5px;
}
.login-form .login-checkbox {
  margin-top: -5px;
  margin-bottom: 130px;
}
.login-form .login-checkbox label {
  margin-right: 26px;
  color: #fff;
  font-size: 15px;
}
.login-form a {
  text-decoration: none;
  color: #fff;
  padding: 0 14px;
}
.login-form a:nth-child(1) {
  border-right: 1px solid #fff;
}
.qr-form {
  margin: 0 auto 50px auto;
  width: 400px;
  text-align: center;
}
.qr-form p {
  padding: 14px 0;
  font-size: 15px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 60px;
}
.qr-form div {
  margin-top: 78px;
}
.qr-form div a {
  text-decoration: none;
  color: #fff;
  padding: 0 14px;
}
.qr-form div a:nth-child(1) {
  border-right: 1px solid #fff;
}
.register-form {
  margin: 0 auto 50px auto;
  width: 960px;
}
.register-form ::-webkit-input-placeholder {
  color: #e6e6e6;
  font-size: 15px;
}
.register-form .step {
  display: flex;
  height: 48px;
  justify-content: center;
  border-bottom: 2px solid #75bae8;
}
.register-form .step div {
  width: 188px;
  height: 48px;
  color: #75bae8;
  padding-bottom: 21px;
  padding-left: 30px;
}
.register-form .step div span {
  display: inline-block;
  margin-right: 5px;
  width: 27px;
  height: 27px;
  color: #52a8e2;
  font-weight: 900;
  background: #75bae8;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
}
.register-form .step div img {
  width: 27px;
  margin-right: 5px;
}
.register-form .step .active {
  border-bottom: 2px solid #fff;
  color: #fff;
}
.register-form .step .active span {
  background: #fff;
}
.register-form form {
  margin: 50px auto;
  width: 400px;
}
.register-form form input[type="text"],
.register-form form input[type="password"] {
  height: 66px;
  border: 1px solid transparent;
  padding-left: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
}
.register-form form input:focus {
  border: 1px solid #dededc;
}
.register-form form button {
  display: inline-block;
  height: 48px;
  width: 160px;
  color: #fff;
  margin-left: 30px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 24px;
  background: transparent;
}
.register-form form input[type="submit"] {
  margin-top: 135px;
  height: 66px;
  border-radius: 5px;
  background: #00ce7d;
  border: none;
  color: #fff;
}
.register-form .step2 .bigbox input {
  margin-bottom: 10px;
}
.register-form .step2 .bigbox:nth-child(4) {
  margin-top: 20px;
}
.register-form p {
  margin-top: 50px;
  color: #fff;
  text-align: center;
}
.register-form p span {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 5px;
  color: #58544d;
  background: #2991ba;
  border-radius: 50%;
}
.register-form .quick-login {
  display: block;
  width: 400px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #00ce7d;
  border-radius: 5px;
  margin: 200px auto 0 auto;
}
@media screen and (max-width: 1500px) {
  .login-title {
    width: 300px;
    margin: 100px auto 64px auto;
  }
  .login-form {
    margin: 0 auto 35px auto;
    width: 280px;
  }
  .login-form h5 {
    margin: 0 0 14px 0;
    height: 28px;
    line-height: 28px;
  }
  .login-form h5 span {
    width: 14px;
    height: 14px;
    margin-right: 6px;
    line-height: 14px;
  }
  .login-form .login-btn {
    width: 100%;
    height: 46px;
    margin-bottom: 22px;
    font-size: 17px;
    text-indent: 45px;
    border-radius: 5px;
    background-position: 10px 10px;
  }
  .login-form .login-sub {
    width: 100%;
    height: 46px;
    margin-bottom: 22px;
    font-size: 15px;
    margin-bottom: 28px;
    border-radius: 5px;
  }
  .login-form .login-checkbox {
    margin-top: -4px;
    margin-bottom: 90px;
  }
  .login-form .login-checkbox label {
    margin-right: 18px;
    font-size: 14px;
  }
  .login-form a {
    padding: 0 10px;
  }
  .qr-form {
    margin: 0 auto 35px auto;
    width: 280px;
  }
  .qr-form p {
    padding: 10px 0;
    font-size: 14px;
    margin-bottom: 48px;
  }
  .qr-form img {
    width: 168px;
  }
  .qr-form div {
    margin-top: 55px;
  }
  .qr-form div a {
    color: #fff;
    padding: 0 10px;
  }
  .register-form {
    margin: 0 auto 35px auto;
    width: 672px;
  }
  .register-form ::-webkit-input-placeholder {
    font-size: 14px;
  }
  .register-form .step {
    height: 34px;
    border-bottom: 2px solid #75bae8;
  }
  .register-form .step div {
    width: 132px;
    height: 34px;
    padding-bottom: 15px;
    padding-left: 21px;
  }
  .register-form .step div span {
    margin-right: 4px;
    width: 19px;
    height: 19px;
    line-height: 17px;
  }
  .register-form .step div img {
    width: 19px;
    margin-right: 4px;
  }
  .register-form .step .active {
    border-bottom: 2px solid #fff;
  }
  .register-form form {
    margin: 35px auto;
    width: 280px;
  }
  .register-form form input[type="text"],
  .register-form form input[type="password"] {
    height: 46px;
    padding-left: 14px;
    margin-bottom: 21px;
    border-radius: 5px;
  }
  .register-form form .checkRes {
    width: 135px;
  }
  .register-form form button {
    height: 34px;
    width: 112px;
    margin-left: 21px;
    line-height: 34px;
    border-radius: 17px;
  }
  .register-form form input[type="submit"] {
    margin-top: 95px;
    height: 46px;
    border-radius: 5px;
  }
  .register-form .step2 .bigbox input {
    margin-bottom: 7px;
  }
  .register-form .step2 .bigbox:nth-child(4) {
    margin-top: 14px;
  }
  .register-form p {
    margin-top: 35px;
  }
  .register-form p span {
    width: 14px;
    height: 14px;
    line-height: 14px;
    margin-right: 4px;
  }
  .register-form .quick-login {
    width: 280px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    margin: 140px auto 0 auto;
  }
}
.start-chat {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  width: 50px;
  height: 50px;
  background: #52a2ff;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.start-chat-box {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 320px;
  height: 480px;
  z-index: 200;
  display: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}
.start-chat-box .chat-head {
  height: 34px;
  background: #52a2ff;
  padding: 0 15px;
}
.start-chat-box .chat-head p {
  margin: 0;
  width: 230px;
  color: #fff;
  font-size: 12px;
}
.start-chat-box .chat-head .close-chat {
  cursor: pointer;
}
.chat-box {
  width: 320px;
  height: 448px;
  background: url(../images/chat_02.jpg);
}
.chat-box section {
  padding-top: 10px;
}
.chat-box .history {
  margin: 0 auto 16px auto;
  text-align: center;
  background: #f0edf4;
  width: 100px;
  height: 20px;
  line-height: 20px;
  border-radius: 8px;
}
.chat-box .history a {
  color: #989798;
  text-decoration: none;
}
.chat-box .chat-content {
  height: 346px;
  padding: 0 10px;
  overflow: auto;
}
.chat-box .chat-content li {
  padding: 0 10px;
  margin-bottom: 20px;
  position: relative;
}
.chat-box .chat-content li p {
  font-size: 12px;
  color: #a7a6a7;
  margin: 0;
}
.chat-box .chat-content .clear {
  margin-bottom: 0;
}
.chat-box .chat-content div {
  max-width: 250px;
  padding: 10px 14px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}
.chat-box .chat-content .chat-daodao {
  float: left;
}
.chat-box .chat-content .chat-daodao div {
  background: #fff;
}
.chat-box .chat-content .chat-daodao div:after {
  content: '';
  display: block;
  position: absolute;
  top: 17px;
  left: 2px;
  width: 14px;
  height: 14px;
  background-image: url(../images/chat-d.png);
}
.chat-box .chat-content .chat-me {
  float: right;
}
.chat-box .chat-content .chat-me p {
  text-align: right;
}
.chat-box .chat-content .chat-me div {
  float: right;
  background: #52a2ff;
  color: #fff;
}
.chat-box .chat-content .chat-me div:after {
  content: '';
  display: block;
  position: absolute;
  top: 17px;
  right: 2px;
  width: 14px;
  height: 14px;
  background-image: url(../images/chat-m.png);
}
.chat-box .chat-content:after {
  content: '';
  display: block;
  clear: both;
}
.chat-box .chat-write {
  border-top: 1px solid #f2f2f2;
  background: #fff;
  padding: 9px 12px 20px 12px;
  position: relative;
}
.chat-box .chat-write .expression {
  display: none;
  position: absolute;
  bottom: 124px;
  left: 5px;
  background: #fff;
  width: 284px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}
.chat-box .chat-write .expression li {
  display: inline-block;
}
.chat-box .chat-write .expression li img:hover {
  background: #ccc;
}
.chat-box .chat-write .expression:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: -6px;
  left: 11px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}
.chat-box .chat-write #picture {
  display: none;
}
.chat-box .chat-write .chat-insert label {
  margin: 0;
  width: 18px;
  height: 18px;
  background: url(../images/chat-insert_05.jpg) no-repeat;
}
.chat-box .chat-write textarea {
  margin-top: 8px;
  width: 100%;
  height: 72px;
  line-height: 24px;
  border: none;
}
.chat-box .chat-write textarea::-webkit-scrollbar {
  display: none;
}
.pinfen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 80px auto;
  width: 260px;
  height: 214px;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  z-index: 300;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  display: none;
  text-align: center;
}
.pinfen h2 {
  font-size: 14px;
  margin: 20px 0;
}
.pinfen button {
  width: 210px;
  height: 26px;
  color: #cfcfcf;
  background: #f2f2f2;
  border: none;
  border-radius: 12px;
}
.satisfy ul {
  padding: 0 30px;
  margin-bottom: 20px;
}
.satisfy li {
  width: 80px;
  height: 94px;
  padding-top: 15px;
  border: 1px solid transparent;
}
.satisfy li img {
  margin-bottom: 10px;
}
.satisfy .active {
  border: 1px solid #ececec;
  background: #f7fbff;
}
.star p {
  color: #999;
  font-size: 14px;
  margin: 0;
  padding-top: 10px;
  height: 26px;
}
.star ul {
  margin: 20px 24px 36px 24px;
  background: url(../images/star0.png);
}
.star ul li {
  width: 32px;
  height: 32px;
}
